{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ],
        "react/prop-types": "off"
    }
}